# Игнорируем настройки VS Code
.vscode/

# Игнорируем виртуальное окружение Python (если есть)
venv/
.env

# Игнорируем временные файлы Python
__pycache__/
*.py[cod]
*$py.class

# Игнорируем саму базу данных (чтобы твои переписки не улетели на Гит)
messages.db

# Игнорируем системные файлы Windows
Thumbs.db
desktop.ini